---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=%23rhcp
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="boX4lrChqQi3LB9fJYSfYnzbT", oauth_nonce="6022beff3e5be19e261a54ca6279f62e",
        oauth_signature="LwIQm5mmEWXhAV3b7n401F1h6IM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1512167548", oauth_token="935516830508216321-AiV47Wioo6Uw97srLznYtUG5lBk7yri",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 01 Dec 2017 22:32:29 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6d92b31335213d99be0015d1971e5586
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1512168449'
      X-Response-Time:
      - '244'
      X-Transaction:
      - 00c15d2c005be804
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Fri Dec 01 22:01:35 +0000 2017","id":936716936783659008,"id_str":"936716936783659008","text":"This
        song got me through some dark days. Happy anniversary Zephyr Song \ud83c\udfb6
        #RHCP https:\/\/t.co\/wxYFwYlgq0","truncated":false,"entities":{"hashtags":[{"text":"RHCP","indices":[73,78]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/wxYFwYlgq0","expanded_url":"https:\/\/twitter.com\/chilipeppers\/status\/936713428063924224","display_url":"twitter.com\/chilipeppers\/s\u2026","indices":[79,102]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":556404899,"id_str":"556404899","name":"11.7.17
        \ud83c\udf0a","screen_name":"MaijaGates","location":"San Diego","description":"90%
        politics, 10% pop culture. #SDCC #GeekGirl Views are my own. For pics of dogs,
        coffee, and travel find me on Insta @maija333 #GeeksResist","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":309,"friends_count":708,"listed_count":3,"created_at":"Wed
        Apr 18 00:17:33 +0000 2012","favourites_count":4901,"utc_offset":-25200,"time_zone":"Arizona","geo_enabled":true,"verified":false,"statuses_count":1532,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/928335475739205632\/JRg5zUh3_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/928335475739205632\/JRg5zUh3_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/556404899\/1412879516","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":936713428063924224,"quoted_status_id_str":"936713428063924224","quoted_status":{"created_at":"Fri
        Dec 01 21:47:39 +0000 2017","id":936713428063924224,"id_str":"936713428063924224","text":"Fly
        away on my zephyr\nI feel it more than ever\nAnd in this perfect weather\nWe\u2019ll
        find a place together\nFly on\u2026my wi\u2026 https:\/\/t.co\/BnHGsTkxvv","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/BnHGsTkxvv","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/936713428063924224","display_[...]
