<div class="container">
  <div class="text-center">
    <h1>GigShare - chat and share media with fellow music enthusiasts</h1>
  </div>
    <p>Uitlizing the DoStuffMedia API to query local events in the Chicago area, GigShare is a platform to chat, share media, and view relevant tweets around upcoming, or past, musical events events</p>

  <div class="row" style="padding-top: 100px">
    <div class="col-md-4 offset-md-2">
      <p >Aspiring software developer with a background in engineering, research, and mechanical repair. additional info can be found at: </p>
      <span>
        github page: <a href="https://ansachs.github.io/ansachs" target="blank">ansachs.github.io/ansachs</a>
      </span>
    </div>
    
    <div class="col">
      <%= image_tag 'alex.jpg', class: "rounded mx-auto", style: "height: 250px" %>
    </div>
  </div>
</div>